<main class="container">
  <div>
    <app-searchfield (submitted)="onSearch($event)"></app-searchfield>
  </div>
  <div *ngIf="moreCharsAvailable">
    <div>There's more!</div>
    <div class="grid">
      <button [disabled]="!prevLink" (click)="fetchPrev()">Prev page</button>
      <button [disabled]="!nextLink" (click)="fetchNext()">Next page</button>
    </div>
  </div>
  <div *ngIf="currentPage === undefined">
    No results. Try searching for 'rick'...
  </div>
  <div class="container character-container">
    <app-character
      *ngFor="let char of charactersOnPage"
      [char]="char"
    ></app-character>
  </div>
  <div *ngIf="moreCharsAvailable">
    <div>There's more!</div>
    <div class="grid">
      <button [disabled]="!prevLink" (click)="fetchPrev()">Prev page</button>
      <button [disabled]="!nextLink" (click)="fetchNext()">Next page</button>
    </div>
  </div>
</main>
