<main class="container">
  <div>
    <app-searchfield (submitted)="onSearch($event)"></app-searchfield>
  </div>
  <app-more-chars-buttonset
    *ngIf="moreCharsAvailable"
    [info]="currentPage!.info!"
    (fetchNext)="fetchNext()"
    (fetchPrev)="fetchPrev()"
  ></app-more-chars-buttonset>
  <div *ngIf="currentPage === undefined">
    No results. Try searching for 'rick'...
  </div>
  <div class="container character-container">
    <app-character
      *ngFor="let char of charactersOnPage"
      [char]="char"
    ></app-character>
  </div>
  <app-more-chars-buttonset
    *ngIf="moreCharsAvailable"
    [info]="currentPage!.info!"
    (fetchNext)="fetchNext()"
    (fetchPrev)="fetchPrev()"
  ></app-more-chars-buttonset>
</main>
